<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Unit Converter</title>
</head>
<body>
    <h1 style="text-align: center;">Unit Converter</h1>
    <nav>
        <ul class="nav-links">
        <li><a href="/convert_length" target="content-frame">Length</a></li>
        <li><a href="/convert_weight" target="content-frame">Weight</a></li>
        <li><a href="/convert_temp" target="content-frame">Temperature</a></li>
        </ul> 
    </nav>
    <div class="content">
        <iframe name="content-frame" src="/default_page"></iframe>
    </div>
</body>
</html>