<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\VScode\gettingstarted\WEB\UnitConverter\static\styles.css">
    <title>Unit Converter</title>
</head>
<body>
    <h1 style="text-align: center;">Unit Converter</h1>
    <nav>
        <ul class="nav-links">
        <li><a href="length.html" target="content-frame">Length</a></li>
        <li><a href="weight.html" target="content-frame">Weight</a></li>
        <li><a href="temp.html" target="content-frame">Temperature</a></li>
        </ul> 
    </nav>
    <div class="content">
        <iframe name="content-frame" src="default.html"></iframe>
    </div>
</body>
</html>