<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% extends "home.html" %}

    {% block content %}
    <div class="article-content">
        <h1>{{ article.title }}</h1>
        <h4><em>Published on {{ article.date }}</em></h4>
        <p>{{ article.content }}</p>
    </div>

    <div class="article-buttons-container">
        <a href="/home" class="home-button">Back to Home</a>
    {% if logged_in %}
        <a href="/edit/{{ article.id }}" class="article-admin-button">Edit Article</a>
        <!-- Delete Article button should be a form that submits a POST request -->
        <form action="/delete/{{ article.id }}" method="POST" style="display: inline;">
            <button type="submit" class="article-admin-button">Delete Article</button>
        </form>
    {% endif %}
    </div>
    {% endblock %}
</body>
</html>