<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home- Personal Blog</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    {% extends "main.html" %}

    {% block content %}
    <h1 style="text-align: center;">Published Articles:</h1>
    <ul class="articles">
        {% for article in articles %}
            <li>
                <a href="/article/{{ article.id }}">
                    <strong>{{ article.title }}</strong>
                </a> 
                <em>(Published on {{ article.date }})</em>
            </li>
        {% endfor %}
    </ul>
    {% if logged_in %}
        <a href="/new_article" class="new-article-button">Create a new article</a>
    {% endif %}
    {% endblock %}
</body>
</html>