<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Blog</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <nav class="nav-links">
        <ul class="menu">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <h1 class="heading">Personal Blog</h1>
        <ul class="login">
            {% if logged_in %}
                <a href="{{url_for('logout')}}">Logout</a>
            {% else %}
                <a href="/login">Login</a>
            {% endif %}
        </ul>
    </nav>
    <div class="main-content">
        {% block content %}
        <!-- Content specific to each page will go here -->
        {% endblock %}
    </div>
    <footer class="main-footer">
        <ul>
            <li>Sarbesh Bhandari</li>
            <li>&copy; 2025 Personal Blog</li>
        </ul>    
    </footer>
</body>
</html>